*{
    margin: 0;
    padding: 0;
}

html{
    background-image: url(../img/vxod1.png);
    background-size: cover;
    height: 100%;
}

.Regictr{
    text-align: center;
    margin-left: 30%;
    color: #00243f;
    font-weight: bold;
}

.div{
    background: #00457a;
    width: 90%;
    border-radius: 10px;
    height: 15%;
    margin-top: 3%;
    margin-left: 5%;
}

p{
    font-size: 120%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#pip{
    padding-top: 3%;
    padding-bottom: 3%;
}

a{
    color: white;
    text-decoration: none;
}

div:hover{
    background: #003a66;
}

div:active{
    background: #00243f;
    color: #b4b4b4;
}