*{
    margin: 0;
    padding: 0;
}

html{
    background-image: url(../img/vxod1.png);
    background-size: cover;
    height: 100%;
}

div{
    background: #00457a;
    width: 90%;
    border-radius: 10px;
    height: 15%;
    margin-top: 3%;
    margin-left: 5%;
}

p{
    font-size: 120%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width: 35%;
}

.pip{
    padding-top: 3%;
}

#pip{
    padding-bottom: 3%;
}

a{
    color: white;
    text-decoration: none;
}