*{
    padding: 0;
    margin: 0;
}

html{
    background-image: url(../img/vxod1.png);
    background-size: cover;
    height: 100%;
}

#send{
    color: #00243f;
    font-size: 40px;
    margin-top: 5%;
    margin-left: 40%;
    font-family: 'Montserrat', sans-serif;
}

.LogIn{
    background: white;
    width: 750px;
    height: 610px;
    border-radius: 10px;
    border-style: solid;
    border-color: #00457a;
    border-width: 3px;
    margin-top: 30px;
    margin-left: 24%;
}

select{
    height: 35px;
    width: 260px;
    border-width: 2px;
    border-style: solid;
    font-size: 17px;
    border-color: white white #00457a white;
    margin-top: 10px;
}

.div{
    display: inline-flex;
    padding-top: 20px;
    padding-left: 20px;
}

input{
    height: 35px;
    width: 250px;
    border-width: 2px;
    border-style: solid;
    font-size: 25px;
    border-color: white white #00457a white;
}

p{
    font-size: 120%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}